@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-y: auto;
}

.Loading {
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(64, 13, 122, 0.315);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.NewOrderTableHead{
  width: 100%;
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #f1f1f1;
  grid-gap:1px;
}
.NewOrderTableHead div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width:auto;
  background-color: purple;
  color:#ffffff;
  padding:5px;
}
.NewOrderTable{
  width: 100%;
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #f1f1f1;
  cursor: pointer;
  grid-gap:1px;
  background-color:silver;

}
.NewOrderTotal{
  grid-column: 6 / span 2;
  display: grid!important;
  grid-template-columns: 50% 50%;
  border:solid 4px #000000;
}
.NewOrderTotal span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width:auto;
  padding:5px;
}
.NewOrderTable div{
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  width:auto;
}
.NewOrderTableImg{
  height:auto;
  width:100%;
  margin:2px;
}
.NewOrderTable:hover{
  background-color: #ffc6ff;
}
/* HTML: <div class="loader"></div> */
.loader {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 80px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: relative;
  background: linear-gradient(#8c00ff 30px, transparent 0) no-repeat;
  background-size: 2px 40px;
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
  filter: drop-shadow(0.5px 0.5px 3px #000);
}

.loader:before,
.loader:after {
  content: "";
  width: 40px;
  left: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background: rgb(189 186 186 / 40%);
  border-radius: 0 0 20px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}

.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  animation: lqb 5s linear infinite;
}

.messagesUL {
  padding-left: 0px;
  margin: 10px;
  list-style-type: none;
}

/* .messagesUL_fixed {
  padding-left: 0px;
  margin: 10px;
  list-style-type: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  background-color: #002c23;
} */

.slide {
  /* border:solid 5px #000000; */
  margin: 5px;
  box-shadow: 0.5px 0.5px 3px #000000;
  overflow: hidden;
}

.slide img {
  width: 100% !important;
  height: auto;
}

.messagesLI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  box-shadow: 0.5px 0.5px 3px #000000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: ease 0.5s;
}

.messagesLI:hover {
  background: linear-gradient(-45deg, #a8eb12, #00bf72, #008793);
}

.messagesLI div {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;

}


.messagesLI div div {
  display: flex;
  padding: 10px;
  width: auto;
}

.messagesLI_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}

.messagesLI_1 div {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: red; */
  margin: 5px;
  width: 100%;
  /* flex-direction: column; */
  align-items: center;
}

.submit {
  padding: 5px;
  width: 100px;
}

#textarea {
  width: 100%;
  height: 100px;
}

@keyframes lqt {

  0%,
  100% {
    background-image: linear-gradient(#8400ff 40px, transparent 0);
    background-position: 0% 0px;
  }

  50% {
    background-image: linear-gradient(#8400ff 40px, transparent 0);
    background-position: 0% 40px;
  }

  50.1% {
    background-image: linear-gradient(#8400ff 40px, transparent 0);
    background-position: 0% -40px;
  }
}

@keyframes lqb {
  0% {
    background-image: linear-gradient(#8400ff 40px, transparent 0);
    background-position: 0 40px;
  }

  100% {
    background-image: linear-gradient(#8400ff 40px, transparent 0);
    background-position: 0 -40px;
  }
}

@keyframes spinx {

  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }

  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }

  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}

.tablink {
  margin: 5px;
  padding: 5px;
  width: 100px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 4px transparent;
  border-radius: 8px 8px 0px 0px;
  transition: ease 0.5s;
  cursor: pointer;
  color: #003f22;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 5px #ffffff;
  background-color: #00d684;
  box-shadow: 0.5px 0.5px 3px #000000;
}

#GalleryBut {
  margin: 5px;
  padding: 5px;
  width: 100px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 4px #003f22;
}

.ProfileDetails {
  display: grid;
  grid-template-columns: 20% 80%;
  /* grid-template-rows:50px 200px auto; */
  padding: 10px;
}

.AddressImageContainer {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  background-image: url("https://hokei-storage.s3.ap-northeast-1.amazonaws.com/images/Legit/IconImages/Legitem-svg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: inset 0.5px 0.5px 5px #000000;
}

.AddressButtonContainer {
  grid-column: 1 / span 2;
  display: grid;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

.AddressButtonContainer button {
  padding: 5px;
  /* width:200px; */
  display: grid;
  /* grid-template-columns: 10% 90%; */
  grid-gap: 5px;
  font-size: 30px;
  text-align: left;
}

.AddressImageContainer div {
  background-color: rgb(11, 161, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.AddressListImage img {
  /* background-color: #f1f1f1; */
}

.AddressListImage_image {
  background-image: url("https://hokei-storage.s3.ap-northeast-1.amazonaws.com/images/Legit/IconImages/Legitem-svg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: inset 0.5px 0.5px 5px #000000;
}

.LoginMiddlecontainer {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 10%;
}

.OrderDetails {
  display: grid;
  padding: 10px;
}

.OrderStages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}

.AddressList {
  grid-column: 1 / span 2;
}

.AddressDetails {
  display: flex;
  flex-direction: column;
  grid-template-rows: 20% 20% 20% 20%;
  position: relative;
  -webkit-box-sizing: border-box;
}

.AddressDetails div {
  padding: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AddressDetails_text {
  width: 100%;
  /* height:100%; */
  -webkit-box-sizing: border-box;
  padding: 10px;
}

.AddressesCollapse {
  grid-column: 1 / span 2;
  /* overflow-x: hidden; */

}

.AddressContent {
  background-color: #f1f1f1;
  padding: 10px;
  width: 98%;
  height: 150px;
  outline: 0;
}

.faq-question{
  display: grid;
  grid-template-columns: 98% 2%;
  padding:10px;
  background-color: #f1f1f1;
}
.faq-item{
  background-color: #f1f1f1;
  margin:2px;
}
.faq-answer{
  background-color: #dadada;
  padding:5px;
  line-height: 25px;
}



.CollapsibleAddress button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  display: grid;
  grid-template-columns: 99% 1%;
  padding: 10px;
  outline: 0;
  font-weight: bold;
  font-size: 20px;
  transition: ease 0.5s;
}

.CollapsibleAddress {
  overflow: hidden;
}

.CollapsibleAddress button {
  background-color: rgba(73, 209, 121, 0.699);
  cursor: pointer;
}

.CollapsibleAddress button:hover {
  background-color: rgba(0, 255, 89, 0.712);
}

.card .card-button {
  position: absolute;
  top: 43%;
  box-shadow: none;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.card .card-button.left {
  transform: scaleX(-1);
}


.card .card-button.right {
  right: 0%;
}

.react-stacked-center-carousel {
  padding: 20px 0;
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  height: 300px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 300ms ease;
  border-radius: 15px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

.card-card .cover-image {
  object-fit: cover;
}

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}

.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0;
  z-index: -1;
}

.card-card .detail {
  display: flex;
}

.card-card .video {
  width: 20%;
}

.card-card .discription {
  display: flex;
  flex-direction: column;
  margin: 10px;
}







.popNotification {
  width: 100%;
  height: 8vh;
  left: 0px;
  right: 0px;
  top: -8vh;
  margin: auto;
  position: fixed;
  background-color: #06a800;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 44, 0);
  box-shadow: 0.5px 0.5px 5px #000;
  transition: ease 0.1s;
  z-index: 99999;
}

.Crop-Controls {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
  justify-content: center;
}

.Crop-Controls div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ClosePOPImageUpload_cover {
  font-size: 35px;
  color: red;
  right: 0px;
  top: 0px;
  margin: 5%;
  position: absolute;
}

.POPImageUpload_cover {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  background-color: rgba(61, 0, 153, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: block;
  transition: ease 0.5s;
  transform: scale(0);
}

.POPImageUpload {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  background-color: #f1f1f1;
  width: 85vw;
  height: 65vh;
  z-index: 999;
  display: grid;
  grid-template-columns: 59% 39%;
  grid-gap: 2%;
  justify-content: center;
  align-items: center;
  border: solid 5vh transparent
}

.cropperControlsContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  height: 60vh;
  background-color: #9670c9;
  box-shadow: inset 0.5px 0.5px 3px #000000;
}

.cropperControlsContainer_gallery {
  background-color: #9670c9;
  box-shadow: inset 0.5px 0.5px 3px #000000;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropperControlsContainer_gallery .image-gallery {
  width: 100%;
}

.CropperImageContrainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  border-radius: 0 !important;
}

.Mobile_footer {
  display: none;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column: 1 / span 4;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 30px;
  left: 0px;
  right: 0px;
  background-color: #00a380;
}

.MainView {
  width: 100vw;
  /* height:100%; */
  display: grid;
  grid-template-columns: 70vw 30vw;
  /* overflow: hidden; */
  grid-gap: 0.3%;
  background-color: #002c23;
  position: absolute;
}

.longtext {
  margin: 20px;
}

.MainView_Lchild {
  display: flex;
  flex-direction: column;
  background-color: #00a380;
}

.LabelHead {
  background: linear-gradient(to right, #c8a4d1 0%, #e3cfe8 0%, #ae7dbb 21%, #ae7dbb 32%, #965ca4 42%, #7e408d 51%, #672976 65%, #511660 77%, #3c0949 88%, #290133 100%);  
  padding: 10px;
  border-top: solid 3px #2f0041;
  border-bottom: solid 3px #2f0041;
  font-size: 20px;
  font-weight: bold;
  /* margin-top:3px; */
  margin-bottom: 3px;
  height: 25px;
  grid-gap:5px;
  color:#220030;
}

.MainView_LchildGallery {
  display: grid;
  grid-template-columns: 50% 50%;
  /* width:100%; */
  padding: 5px;
  background-color: #00a380;
}

.MainView_RelatedProductsThumbs>img {
  background: rgb(211, 210, 210);
}

.MainView_RelatedProductsThumbs {
  display: grid;
  grid-template-columns: 50% 50%;
  /* padding:6px; */
  margin-bottom: 4px;
  /* background-color: rgb(138, 138, 138); */
  background: rgb(211, 210, 210);
  transition: ease 0.5s;
  overflow: hidden;
  align-items: center;
}

.MainView_RelatedProductsThumbs .thumbnailTextContainer {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.image-gallery-image {
  width: 30vw !important;
}

.backIcon {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.LabelBack {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 2.5vw auto;
  align-items: center;
  cursor: pointer;
}

.LabelBack:hover {
  color: red;
}

.MainView_RelatedProductsThumbs:hover {
  background: linear-gradient(-45deg, #a8eb12, #00bf72, #008793);
}

.MainView_RelatedProducts {
  background-color: #002c23;
}

.MainView_RelatedProductsThumbs img {
  width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  cursor: pointer;
}

.image-gallery {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 23vw;
  overflow: hidden;
}

.image-gallery-image {
  width: 100%;
}

.image-gallery-content {
  background-color: rgb(2, 31, 2);
}

.MainView_LchildGalleryDetails {
  display: flex;
  flex-direction: column;
}

.MainView_LchildGalleryDetails div {
  padding: 10px;
}

.MainView_LchildGalleryDetails_labels {
  display: grid;
  grid-template-columns: 25% 75%;
}

.MainView_Rchild {
  background-color: #004127;
  /* overflow-y: auto; */
}

#canvas {
  width: 100%;
  height: auto;
  position: relative;
}

.CartColsHeadSutotal {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left !important;
  justify-content: baseline;
  align-items: baseline;
  grid-column: 4 / span 2;
  background-color: #f1f1f1 !important;
}

.CartColsHeadSutotal span {
  padding: 10px;
}

.canvas {
  position: absolute;
  top: 0px;
  height: 23vw;
  width: 33vw;
  /* padding:1px; */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#63756c+0,007239+0,008975+34,00916d+50,009e79+67,29a086+78,00a380+100 */
  background: radial-gradient(ellipse at center, #63756c 0%, #007239 0%, #008975 34%, #00916d 50%, #009e79 67%, #29a086 78%, #00a380 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.ThreeJS {
  position: relative;
  height: 23vw;
  width: 33vw;
  overflow: hidden;
}

.ShareContainer {
  justify-content: center;
  align-items: center;
}

.ShareContainer div {
  display: grid;
  grid-template-columns: 15% 10% 10% 10% 10% 10% 10% 10% 15%;
}

.ShareQuantity {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  justify-content: center;
  align-items: center;
}

.ShareQuantity button {
  height: 40px;
  width: 100%;
  font-size: 25px;
}

.ShareQuantity input {
  height: 33px;
  outline: 0;
  text-align: center;

}

.Main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh auto 30vh;
  min-width: 100vw;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background-color: #00a380;
  overflow-y: auto;
  overflow-x: hidden;
}

.Header {
  height: 8vh;
  width: 100vw;
  /* background-color: #008793; */
  background-image: url('https://hokei-storage.s3.ap-northeast-1.amazonaws.com/images/Legit/IconImages/Legitem-svg.svg');
  background-size: auto 90%;
  background-position: 1% 1%;
  background-repeat: no-repeat;
  /* box-shadow: 0.5px 0.5px 3px #000; */
  background: linear-gradient(to bottom, rgba(206, 219, 233, 0.5) 0%, rgba(57, 191, 144, 0.5) 0%, rgba(97, 198, 154, 0.5) 30%, rgba(67, 216, 151, 0.5) 44%, rgba(76, 239, 158, 0.5) 61%, rgba(58, 196, 148, 0.5) 84%, rgba(39, 140, 74, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.Logo {
  background-image: url('https://hokei-storage.s3.ap-northeast-1.amazonaws.com/images/Legit/IconImages/Legitem-svg.svg');
  background-size: auto 90%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  color: transparent;
}

.searchContaier {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.CartColsHead {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #009356;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.searchContaier div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.ViewsLikes {
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
}

.searchContaier div input,
.searchContaier div select {
  width: 20vw;
  padding: 10px;
}

.footer {
  height: 30vh;
  width: 100vw;
  background-color: #00a380;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  text-align: center;
  color: #002c23;
}

.footer ul {
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  padding-left: 0px;
  color: #004437;
  cursor: pointer;
}

.footer ul li {
  padding: 10px;
}

.foot_label {
  font-size: 20px;
  font-weight: bold;
}

.footer div {
  padding: 1vw;
}

.body {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.body_messages {
  display: grid;
  grid-template-columns: 20% auto 20%;
}


.CartCols {
  display: grid;
  grid-template-columns: 18% 23% 23% 23% 13%;
  /* flex-direction: row; */
  background-color: #f1f1f1;
  border-bottom: solid 4px;
  /* grid-gap: 2px; */
}

.removeTocart {
  color: red;
  font-size: 25px;
  filter: drop-shadow(0.5px 0.5px 1px #000000);
  cursor: pointer;
}

.CartImage {
  display: flex;
  align-items: center;
}

.CartDetails {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  align-items: center;
}

.CartDetailsCenter {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.CartDetailsCenter input {
  text-align: center;
}

.goUp {
  left: 9%;
  bottom: 30%;
  position: fixed;
  margin: auto;
  font-size: 40px;
  color: rgb(0, 61, 0);
  cursor: pointer;
}

.dropdown {
  grid-column: 1 / span 3;
  display: none;
}

.Menu_label {
  background: linear-gradient(to right, rgba(206, 219, 233, 1) 0%, rgba(57, 191, 144, 1) 0%, rgba(97, 198, 154, 1) 30%, rgba(67, 216, 151, 1) 44%, rgba(76, 239, 158, 1) 61%, rgba(58, 196, 148, 1) 84%, rgba(39, 140, 74, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 1px;
  border: solid 3px #004127;
}

.Menu_label_management {
  background: linear-gradient(to right, #c8a4d1 0%, #e3cfe8 0%, #ae7dbb 21%, #ae7dbb 32%, #965ca4 42%, #7e408d 51%, #672976 65%, #511660 77%, #3c0949 88%, #290133 100%);
  padding: 10px;
  border: solid 5px #320041;
  font-size: 18px;
  color: #000000;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5% 95%;
}

.Search_container {
  padding: 5px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.statistics_Search_container {
  padding: 10px;
  background-color: #a34cef;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.statistics_Search_container div div input,
.statistics_Search_container div div select {
  padding: 5px;
}

.statistics_Search_container div div {
  display: grid;
  margin: 5px;
  grid-template-columns: 40% 60%;
  /* justify-content: center; */
  align-items: center;
}

.Search_container input {
  padding: 10px;
  width: 300px;
  border: none;
  outline: none;
}

/* .Search_container button{
  padding:10px;
  width: 100px;
  border:none;
  outline: none;
} */
.LeftWing,
.RightWing {
  background-color: rgba(255, 255, 255, 0);
  min-height: 100vh;
}

.middlecontainer {
  width: 60vw;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7vh auto auto;
  /* background-color: #67ccb6; */
}

.middlecontainer_messages {
  width: 60vw;
  /* height: 100%;
  min-height: 100vh; */
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: auto auto auto; */
  /* background-color: #67ccb6; */
}

.searchContaier {
  background-color: #00a380;
  padding: 5px;
}

.Menu {
  padding-left: 0px;
  padding: 10px;
  margin: 0px;
  color: rgb(2, 51, 1);
}

.Menu li {
  padding-left: 0px;
  padding: 10px;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: ease 0.5s;
  cursor: pointer;
}

.menu_li,
.category_li {
  border-bottom: solid 4px rgb(30, 145, 28);
}

.Menu li label {
  cursor: pointer;
}

.hidden {
  display: none;
}

.Menu li:hover {
  background-color: #00bf72;
}

#collapsecategory1:checked~.category_list {
  max-height: 800px;
}

.category_list {
  width: 18vw;
  padding-left: 0px;
  max-height: 0px;
  height: auto;
  overflow: hidden;
  transition: ease 0.5s;
}

.category_list li:hover {
  background-color: #009356;
}

/* .category_list:hover{
  background: linear-gradient(to right, rgba(206, 219, 233, 1) 0%, rgba(57, 191, 144, 1) 0%, rgba(97, 198, 154, 1) 30%, rgba(67, 216, 151, 1) 44%, rgba(76, 239, 158, 1) 61%, rgba(58, 196, 148, 1) 84%, rgba(39, 140, 74, 1) 100%); 
  padding:1px;
  border:solid 5px #004127;
} */
.category_list_div {
  display: flex;
}

.category_list_div li:hover {
  background-color: #a8eb12 !important;
}

.categorylabel {
  display: grid;
  grid-template-columns: 10% 80% 10% !important;
  align-items: center;
  width: 100%;
}

.category_li {
  grid-template-columns: 100% 0% !important;
  align-items: center;
}

.menu_li {
  display: grid;
  grid-template-columns: 100% 0% !important;
  align-items: center;
}

.menu_li label {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.Thumbnails {
  display: grid;
  grid-template-columns: 19.8% 19.8% 19.8% 19.8% 19.8%;
  min-height: 100px;
  grid-gap: 0.1vw;
  background: radial-gradient(ellipse, #017245, #004127, rgb(0, 39, 2));
  transition: ease 0.5s;
  justify-content: center;
}

.thumbnail {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0.5px 0.5px 3px #000;
  background: rgb(211, 210, 210);
  /* min-height: 400px; */

  transition: ease 0.5s;
}

.thumbnail:hover {
  background: linear-gradient(-45deg, #a8eb12, #00bf72, #008793);
}

.thumbnailImage {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  transition: ease 0.5s;
  cursor: pointer;
}

.thumbnailImage:hover {
  border-radius: 8px 8px 0px 0px;
  transform: scale(1.1);
}

.thumbnailTextContainer {
  background-color: aliceblue;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.ReactStars {
  display: grid;
  grid-template-columns: 20% 20% 20% auto auto;
  align-items: center;
  padding: 0 !important;
}

.Rates_values {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  height: 4vh;
}

.Rates_values span {
  display: flex;
  text-align: center;
  height: 100%;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  /* border:solid 3px green; */
}

.ReactStars span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
  text-align: center;
}

.image-gallery-description a {
  text-decoration: none;
  color: #008793;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 3px #ffffff;
}

.Rates {
  padding: 0px !important;
  display: grid;
  grid-template-rows: auto auto;
  background-color: aliceblue;
}

.Rates img {
  width: 100%;
  height: auto;
}

.thumbnailTextContainer div {
  padding: 5px;
}

.thumbnailImageContainer {
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.thumbnailImageContainer a {
  display: block;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.viewmore {
  grid-column: 1 / span 5;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.viewmore button {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.wish {
  z-index: 99999;
  position: absolute;
  color: rgb(71, 71, 71);
  right: 0px;
  top: 0px;
  margin: 5px;
  font-size: 30px;
  cursor: pointer;
  filter: drop-shadow(0.5px 0.5px 1 px #000000);
}

.Dashboard_grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2px;
  width: 100%;
  height: 78vh;
  background-color: rgb(255, 255, 255);
}

.StatisticsStat_today_visits {
  width: 95%;
  height: 90%;
  border: solid 6px #008000;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 25px;
  background-color: #66ff66;
  color: #008000;
  box-shadow: 0.5px 0.5px 3px #000;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Cambria';
}

.StatisticsStat_total_visits {
  width: 95%;
  height: 90%;
  border: solid 6px #145252;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 25px;
  background-color: #33cccc;

  color: #145252;
  box-shadow: 0.5px 0.5px 3px #000;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Cambria';
}

.StatisticsStat_today_views {
  width: 95%;
  height: 90%;
  border: solid 6px #8B4510;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 25px;
  background-color: #D26911;
  color: #8B4510;
  box-shadow: 0.5px 0.5px 3px #000;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Cambria';
}

.StatisticsStat_total_views {
  width: 95%;
  height: 90%;
  border: solid 6px #003300;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border-radius: 25px;
  background-color: #556B20;
  color: #003300 !important;
  box-shadow: 0.5px 0.5px 3px #000;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Cambria';
}

.StatIcon {
  font-size: 75px;
}

.StatNumber {
  font-size: 50px;
  font-weight: 100 !important;
  transition: ease 0.5s;
}

.StatIcon_container {
  grid-column: 2;
  grid-row: 1 / span 2;
  filter: drop-shadow(1px 1px 1px #000000)
}

.StatisticsStat div {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* color:#26007e; */
  text-shadow: 0.5px 0.5px 1px #000000;
  /* filter: drop-shadow(0.5px 0.5px 2px #000000); */
}

.StatisticsStat {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.Account:hover .DroppedDown {
  transform: scaleX(1);
}

.DroppedDown {
  background-color: #007c4c;
  position: absolute;
  top: 8vh;
  z-index: 999;
  width: 12vw;
  transition: ease 0.5s;
  transform: scaleX(0);
}

.DroppedDown ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
  width: 100%;
  margin: 0px;
  transition: ease 0.5s;
}

.DroppedDown ul li {
  padding: 5px;
  display: flex;

  transition: ease 0.5s;
  text-align: left;
  justify-content: left;
  align-items: center;
}

.DroppedDownAnchor {
  padding: 5px;
  display: grid !important;
  grid-template-columns: 10% 90%;
  transition: ease 0.5s;
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100% !important;
}

.DroppedDown ul li:hover {
  transition: ease 0.5s;
  background: linear-gradient(to bottom, rgb(206, 219, 233) 0%, rgb(57, 191, 144) 0%, rgb(97, 198, 154) 30%, rgb(67, 216, 151) 44%, rgb(76, 239, 158) 61%, rgb(58, 196, 148) 84%, rgb(39, 140, 74) 100%);
}

.Navigation {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.Navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 19px;
  color: rgb(2, 51, 1);
  /* text-shadow:inset 0.1px 0.1px 3px #000;
  filter:drop-shadow(0.1px 0.1px 1px #000) */
}

.Navigation a:hover {
  background-color: #005c373d;
}

.Navigation nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 19px;
  color: rgb(2, 51, 1);
}

.Navigation nav:hover {
  background-color: #005c373d;
}

.carousel {
  padding: 2px;
}

.carouselLabel {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 2.5% 97.5%;
  align-items: center;
}

.carousel {
  background: radial-gradient(ellipse, #ceffed, #00b487, rgb(0, 61, 46));
}

.addCart {
  display: flex;
  font-size: 18px;
  padding: 10px;
}

.my-slide-component {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent), to(rgba(255, 255, 255, 0.1)));
}

.react-stacked-center-carousel {
  height: 50vh !important;
  display: flex;
  align-items: center;
}

.RightWing {
  position: relative;


}

.RightWing .div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 23vh 23vh 23vh 23vh;
  /* background-color: red; */
}

.Banner {
  width: 95%;
  height: 90vh;
  left: 0%;
  right: 0%;
  top: 9%;
  bottom: 0px;
  /* background: radial-gradient(ellipse, #00662e, #006d41, rgb(0, 49, 3)); */
  margin: auto;
  position: sticky;
  box-shadow: inset 0.5px 0.5px 3px #000000;
}

/*************************  SWIPER **********************/

.swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-color: #008793;
  background-position: center;
  background-size: cover;
  width: 300;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.StoreName {
  position: absolute;
  z-index: 9;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 10px;
  margin-left: 10px;
}

/*************************  SWIPER **********************/
/*************************** Management Login **********************/
.LoginDivContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #630077;
  position: absolute;
  overflow: hidden;
}

.LoginDiv .LabelHead {
  /* width:100%; */
  display: flex;
  align-items: center;
  position: relative;
}

.LoginDiv {
  width: auto;
  height: 300px;
  display: grid;
  box-shadow: 0.5px 0.5px 3px #000000;
  /* border-left:solid 10px transparent;
  border-right:solid 10px transparent; */
  flex-direction: column;
  grid-template-rows: 20% 20% 20% 20% 20%;
  /* justify-content: center; */
  background-color: #d7b1f4;
  align-items: center;
  position: absolute;
}

.LoginDiv .div {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}

.LoginDiv .passwordinput {
  width: 18vw;
  padding: 10px;
  margin: 10px;
  background-image: url('https://api.iconify.design/streamline/padlock-square-1-solid.svg');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
  padding-left: 8%;
  border: none;
  outline: 0;
}

.LoginDiv .usernameinput {
  width: 18vw;
  padding: 10px;
  margin: 10px;
  background-image: url('https://api.iconify.design/mdi/account.svg');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
  padding-left: 8%;
  border: none;
  outline: 0;
}

.LoginDiv button {
  width: auto;
  min-width:150px;
  padding: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.divButton {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  justify-content: center;
  align-items: center;
}

.ErrorHandling {
  background-color: #f2d6ff;
  height: 2vh;
  width: 100%;
  padding: 10px;
  /* border:solid 10px transparent; */
  text-align: center;
  color: red;
}

/*************************** Management Login **********************/

/*************************** Management *****************************/
.ManagementBody {
  display: grid;
  grid-template-columns: 15.9vw 94vw;
  grid-template-rows: 8vh 0px auto 10vh;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  grid-gap: 0.1vw;
}

.ManagementDrawer {
  grid-column: 1 / span 2;
  overflow: hidden;
}

.ManagementHeader {
  grid-column: 1 / span 2;
}

.ManagementHeader {
  /* background: linear-gradient(to bottom,  #cedbe9 0%,#8a3ec9 0%,#a34cef 58%,#743ac1 84%,#59278c 100%); */
  background: linear-gradient(to right, #c8a4d1 0%, #e3cfe8 0%, #ae7dbb 21%, #ae7dbb 32%, #965ca4 42%, #7e408d 51%, #672976 65%, #511660 77%, #3c0949 88%, #290133 100%);
}

.ManagementNavigation {
  background-color: rgb(214 153 255);
}

.managementNavigationmenu {
  background-color: rgb(214 153 255);
  list-style-type: none;
  padding-left: 0px;
  font-size: 18px;
  color: #ffffff;
  margin: 0 !important;
}
.drawer{
  display: none;
}
.managementNavigationmenu li {
  padding: 10px;

  align-items: center;
  cursor: pointer;
  /* justify-content: center; */
}

.managementNavigationmenu li a {
  display: block;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  /* justify-content: center; */
  /* grid-template-columns: 8% auto; */
  width: 100%;
  text-decoration: none;
  color: purple;
}

.managementNavigationmenu li:hover {
  background-color: #f1f1f1 !important;
  color: rgb(57, 0, 104)
}

.managementNavigationmenu li:hover+a {
  color: rgb(57, 0, 104)
}

.ManagementMainMenu {
  background-color: #ccc;
  width: 84vw;
}

.ManagementDrawer svg {
  color: red;
  height: 40px;
  width: 40px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.InventoryTable {
  display: flex;
  flex-direction: column;
}

.AccountTable {
  display: flex;
  flex-direction: column;
}

.AccountTable_head {
  display: grid;
  grid-template-columns: 3vw 10vw 10vw 10vw 10vw 8vw 8vw 5vw 10vw;
  grid-gap: 2px;
  background-color: #320041;
}

.AccountTable_head div {
  color: #ffffff;
  background-color: #59278c;
  padding: 10px;
}

.AccountTable_body {
  display: grid;
  grid-template-columns: 3vw 10vw 10vw 10vw 10vw 8vw 8vw 5vw 10vw;
  grid-gap: 2px;
  background-color: #f1f1f1;
  cursor: pointer;
  align-items: center;
}



.InventoryHead {
  display: grid;
  grid-template-columns: 2vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-gap: 2px;
  background-color: #320041;
}

.InventoryHead div {
  color: #ffffff;
  background-color: #511660;
  padding: 10px;
}

.InventoryHead_child {
  display: grid;
  grid-template-columns: 6vw 6vw 6vw 5vw 5vw 5vw 5vw 6vw 7vw 8vw 7vw 7vw 7vw;
  grid-gap: 2px;
  background-color: #320041;
}

.InventoryHead_child div {
  color: #ffffff;
  background-color: #59278c;
  padding: 10px;
}

.InventoryBody {
  display: grid;
  grid-template-columns: 2vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-gap: 2px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.InventoryBody div input,
.InventoryBody div select {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.InventoryBody:hover {
  background-color: rgb(98, 0, 255);
}

.InventoryBody .InventoryBodyCell {
  background-color: rgba(255, 255, 255, 0.5);
  /* padding:5px; */
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.InventoryBody .InventoryBodyCell label {
  width: 100%;
}

.InventoryBody_child {
  display: grid;
  grid-template-columns: 6vw 6vw 6vw 5vw 5vw 5vw 5vw 6vw 7vw 8vw 7vw 7vw 7vw;
  grid-gap: 2px;
  background-color: #f1f1f1;
}

.InventoryBody_child:hover {
  background-color: rgb(98, 0, 255);
}

.InventoryBodyCell {
  font-size: 14px;
}

.InventoryBody_child .InventoryBodyCell {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  position: relative;
}

.InventoryBody .InventoryBodyCell input,
.InventoryBody .InventoryBodyCell select {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
  /* background-color: #f99999; */
}


.InventoryTable_child .InventoryBodyCell input,
.InventoryTable_child .InventoryBodyCell select {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
  background-color: #f99999;
}

.paginationButton {
  text-align: center;
  padding: 5px;
  box-shadow: inset 0.5px 0.5px 3px #000;
  border: solid 2px #511660;
  color: purple;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: ease 0.5s;
  width: 100px;
  margin: 2px;
  height: 40px;

}

.PaginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  border: solid 4px rgb(78, 0, 78);
  background-color: #ffffff;
  margin-bottom: 2px;
}

.AccountTableCell {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.AccountTableCell input {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.AccountTableCell select {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.AccountTableCell label {
  height: 100% !important;
  width: 100%;
  border: none;
  outline: 0;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 3px #000;
}



.Management_icon {
  display: flex;
  align-items: center;
  color: #2b0552;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.Management_icon:hover {
  color: red;
}

.SettingsContainer {
  display: grid;
  grid-template-columns: 40% 60%;
}

.SettingsContainer_1 {
  background-color: #000;
}

.SettingsCategory {
  color: #ffffff;
  background-color: #59278c;
  /* padding: 10px; */
  width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  /* grid-gap:4px; */
}

.SettingsCategory_grid {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  width: 100%;
  /* grid-gap:1px; */
}

.SettingsCategory_grid input,
.SettingsCategory_grid button,
.SettingsCategory_grid select {
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: flex;
  align-items: center;
  height: 100%;
  outline: 0;
  box-shadow: inset 0.5px 0.5px 3px #000000;
}

.addPtype,
.addBrand {
  font-size: 45px;
}

.SettingProductType {
  color: #ffffff;
  text-shadow: 0.5px 0.5px 3px #000;
  background-color: rgb(182, 72, 255) !important;
  grid-column: 1 / span 3 !important;
  transition: ease 0.5s !important;
  min-height: 0px;
  height: 0px;
  overflow: hidden;
  /* box-shadow: inset 0.5px 0.5px 10px #000000!important; */
  border: solid 4px #50145f;
}

.SettingProductType_grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 2px;
  background-color: purple;
}

.SettingProductType_grid_div {
  padding: 5px;
}

.SettingsCategoryDiv {
  padding: 10px;
}

.SettingProductType_grid_spanded {
  grid-column: 1 / span 2;
}

.SettingProductType_grid input,
.SettingProductType_grid label {
  outline: 0;
  box-shadow: inset 0.5px 0.5px 5px #000000 !important;
}

.SettingBrandName {
  color: #ffffff;
  background-color: #5673d1;
  grid-column: 1 / span 2;
  max-height: 0px;
  overflow: hidden;
  transition: ease 0.5s;
}

.SettingBrandName div {
  padding: 5px;
}

.ProdTypeLabel {
  display: flex;
  background-color: #008793;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.hidden {
  display: none !important;
}

.management_edit,
.management_delete,
.management_item {
  /* font-size: 25px; */
  width: 30px;
  height: 30px;
}

.management_item {
  color: #008793;
}

.management_edit {
  color: green;
}

.management_divider {
  grid-column: 1 / span 8;
  /* background-color: #320041!important; */
  height: 3px !important;
}

.management_edit:hover {
  box-shadow: 0.5px 0.5px 3px #000;
}

.management_edit:active {
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.management_delete:hover {
  box-shadow: 0.5px 0.5px 3px #000;
}

.management_delete:active {
  box-shadow: inset 0.5px 0.5px 3px #000;
}

.InventoryBodyCell_det link {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.management_delete {
  color: red;
}

.details_link {
  /* background-color: #008793; */
  padding: 5px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #002c23;
  box-shadow: 0.5px 0.5px 3px #000000;
  border: none;
  cursor: pointer;
}

.ProductVisitsTable {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 1px;
  background-color: #883131;
  text-align: center;
  margin: 1px;

}

.ProductVisitsTableTB {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.5s;
}

.ProductVisitsTableTB:hover {
  background-color: rgb(203, 148, 255) !important;
}

.ProductVisitsTableTB div {
  /* background-color: #f1f1f1; */
  padding: 10px;
  margin: 1px;

}

.ProductVisitsTableTH {
  color: #ffffff;
  background-color: #59278c !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.details_linkEnabled {
  background-color: #008793;
}

.details_linkDisabled {
  background-color: #838080;
}

.caution {
  display: grid;
  grid-template-columns: 8% auto;
  align-items: center;
  width: 300px;
  background-color: goldenrod;
  position: absolute;
  transition: ease 0.5s;
  left: 0px;
  right: 0px;
  padding: 10px;
  margin: auto;
  border: solid 2px rgb(148, 109, 12);
  border-radius: 10px;
  color: rgb(83, 62, 2)
}

.TabsParent {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.Tabs {
  padding: 10px;
  color: #ffffff;
  background-color: #59278c;
  margin: 5px;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 3px #000000;
  border-radius: 10px 10px 0px 0px;
  text-decoration: none;
}

/* #Tabs0,#Tabs1,#Tabs2{
  display: none;
}
#Tabs0:checked ~ .Tabs{
  background-color: purple;
} */
.TabsData {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #ffffff;
  position: relative;
}

.TabsData .TabsData_1,
.TabsData .TabsData_2,
.TabsData .TabsData_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.Pagination {
  padding: 5px;
  width: 100%;
  background-color: #6a30a5;
  margin: 5px;
}

.Pagination button {
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.DashboardDetail {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  height: 400px;
}

.DashboardDetail h1 {
  font: bold 70px times;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding: 0px;
  margin: 10px;
}

.DashboardDetail h3 {
  font: bold 50px times;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding: 0px;
  margin: 10px;
}

.TransactionImage {
  margin: 10px;
  background-color: #f1f1f1;
  border: solid 4px #000000;
  border-radius: 100%;
  padding: 10px;
}

.Search_container_grid {
  display: grid;
  grid-template-columns: auto auto;
  background: linear-gradient(to right, #c8a4d1 0%, #e3cfe8 0%, #ae7dbb 21%, #ae7dbb 32%, #965ca4 42%, #7e408d 51%, #672976 65%, #511660 77%, #3c0949 88%, #290133 100%);
  padding: 10px;
  grid-gap: 5px;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}
.Search_container_grid div{

}
.addNewItem {
  /* width:50px;
  height:50px; */
  /* margin:5px; */
}

.SearchColumn {
  grid-row: 1 / span 2;
}

.SearchColumn input {
  /* height:100%; */
  box-sizing: border-box;
}

.SortColumn select {
  height: 100%;
  box-sizing: border-box;
  width: 400px;
  padding: 5px;
}

.addNewItemButton {
  height: 60px;
  width: 60px;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

/*************************** Management *****************************/