@media (orientation: portrait) {
    .drawerFmsg{
        right:0px;
        font-size: 40px;
        position: absolute;
        display: block;
        top:0px;
        margin: 5px;
        color:#ffffff;
    }
    #textarea{
        width: auto!important;
    }
    .messagesContainer{
        display: flex;
        flex-direction: column;
    }
    .activelist{
        position: absolute;
        width: 100%;
        margin: 0px !important;;
        height: auto;
        min-height: 80vh;
        top:0vh;
        right:0px;
        z-index: 9999999;
    }
    .messagesUL{
        margin:5px;
    }
    .PrivacyContainer{
        flex-direction: column;
    }
    .Main {
        overflow-x: hidden !important;
    }.OrderStages {
        grid-gap:0px;
    }
    .ClosePOPImageUpload_cover{
        top:5px;
        right:5px;
        z-index:999999;
    }
    .NewOrderTable {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px #f1f1f1;
        cursor: pointer;
        grid-gap: 1px;
        background-color: silver;
    }
    .NewOrderTotal button{
        width:100px;
        padding: 10px;
    }
    .NewOrderTable div{
        justify-content: left;
    }
    .NewOrderTableHead{
        display: none;
    }
    .NewOrderTableImgContainer{
        grid-row: 1 / span 6;
    }
    .NewOrderTotal{
        grid-column:1 / span 2;
    }
    .UniversalFormFrame{
        width:95%;
    }
    .UniversalFormFrame_B{
        width:95%;
    }
    .InventoryHead_child{
        display: none;
    }
    .InventoryBody_child{
        display: flex;
        flex-direction: column;
    }
    .Universal_cover{
        overflow:auto;
    }
    .Universal_cover svg{
        z-index:99999;
    }
    .InventoryBodyCell{
        padding:auto;
        margin:0px;
    } 
    .InventoryBodyCell img{
        width:36vw;
        padding: 10px;
        height:auto;
        background-color: #511660;
    }
    p .InventoryBodyCell{
        margin:5px;
        background-color: #ffffff;
    }
    .InventoryBody .InventoryBodyCell{
        height: auto;
    }
    .hideInDesktop{
        display: block;
        background-color: #511660;
        width:36vw;
        padding: 10px;
        color:#ffffff;
    }
    .ManagementMainMenu {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .LoginDiv{
        width:95vw;
    }
    .LoginDiv .usernameinput{
        width:100%;
    }
    .LoginDiv .passwordinput{
        width: 100%;
    }
    .ManagementNavigation{
        position: absolute;
        width: 100vw;
        left: -100vw;
        /* display: none; */
        z-index:999;
        transition: ease 0.5s;
        top:8vh;
    }
    .link{
        left:0px;
        right:0px;
        margin:auto;
    }
    .POPImageUpload_cover{
        overflow: hidden;
    }
    .POPImageUpload{
        /* grid-template-columns: 100%;
        grid-template-rows: auto auto;
        min-height: 70vh;
        height: auto !important;
        width:auto !important;
        background-color: rgb(119, 0, 255);
        position: relative;
        overflow: auto; */
        display: flex;
        flex-direction: column;
        transform: scale(0.95);
        position: relative;
        border:solid 4px transparent;
        width: 98%;
        overflow-x:hidden;
        height: 100vh;
    }
    .drawer{
        display: flex;
        justify-content: flex-start;
        top:0px;
        bottom:0px;
        height:5vh;
        width:auto;
        padding: 1.5vh;
    }
    .ManagementMainMenu{
        width: 100vw;
    }
    .Dashboard_grid {
        display: flex;
        flex-direction: column;
    }
    .TransactionImage{
        width: 30px;
        height: 30px;
        padding:3px;
    }
    .InventoryHead {
        display: none;
    }

    .DashboardDetail {
        height: auto;
        font-size: 30px;
    }

    .DashboardDetail h1,
    .DashboardDetail h3 {
        font-size: 25px;
    }

    .StatisticsStat {
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: 25% 25% 25% 25%; */
        grid-gap: 5px;
        position: relative;
        height: 60vh;
    }

    .StatisticsStat_today_visits,
    .StatisticsStat_total_visits,
    .StatisticsStat_today_views,
    .StatNumber,
    .StatisticsStat_total_views {
        font-size: 25px;
    }

    .InventoryBody {
        display: flex;
        flex-direction: column;
    }

    .InventoryBody .InventoryBodyCell {
        background-color: rgba(255, 255, 255, 0.5);
        padding:0px;
        align-items: left;
        justify-content: left;
    }

    .PaginationContainer {
        display: flex;
        flex-direction: column;
    }

    .Menu_label_management {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Search_container {
        background-color: #5b3b5c;
        padding: 0px;
        overflow: auto;
        height: auto;
    }
    .Search_container input {
        width: 100%;
        box-sizing: border-box;
    }
    .SearchColumn {
        grid-row: 1;
    }
    .Search_container_grid {
        display: grid;
        grid-template-columns: 100%;
        align-items: left;
        width: 100%;
        /* background: transparent; */
        grid-gap: 0px;
    }

    .SortColumn select {
        width: 100%;
    }

    .ManagementBody {
        grid-gap: 0vw;
    }

    .managementNavigationmenu li a {
        justify-content:flex-start;
        font-size: 25px;
    }

    .ProfileDetails {
        grid-template-columns: 35% 65%;
    }

    .hideInmobile {
        display: none;
    }

    body {
        overflow-x: hidden;
        font-size: 13px;
    }

    .Thumbnails {
        grid-gap: 0.5vw !important;
        grid-template-columns: 49% 49% !important;
        width: 98%;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .viewmore {
        grid-column: 1 / span 2 !important;
    }

    .footer {
        grid-template-columns: 50vw 50vw;
        text-align: left;
        padding: 10px;
    }

    .Mobile_footer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column: 1 / span 2;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 30px;
        left: 0px;
        right: 0px;
        background-color: #00a380;
    }
    .cropperControlsContainer {
        width: 100%;
    }
      
    .cropperControlsContainer_gallery {
      height: 40vh;
      width:100%;
    }
    .cropperControlsContainer_gallery .image-gallery{
        width: 100%;
        height: 100%;
    }
    .image-gallery-content {
       width: 100%;
       height: 100%;
       background-color: transparent;
    }
    .image-gallery-image{
        width:90%!important;
    }
    .NewsInput{
       flex-direction: column;
    }
}